/* ---CSS RESET ---*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Custom CSS */
/***************************** mobile homepage ***************************/

/* setting background colour */
html {
    background-color: #0D1F2D;
	font-family: 'karla';
	color: #F3E8EE;
}

/* setting fonts and styling */
h1 a {
    text-decoration: none;
    font-size: 50px;
    font-weight: 900;
	line-height: 3rem;
}

/* positioning text/links */
.about, .work, .contact  {
	margin-top: 60px;
	margin-bottom: 60px;
	text-align: start;
	width: 80%;
}

/* setting Hi. font colour */
.about span {
	color: #DB504A;
}

.work span {
	color: #F3E8EE;
}

.contact span {
	color: #F3E8EE;
}


/* sizing and positioning */

.container-2 {
    position: absolute;
    display: flex;
    align-items: center;
	padding: 30px;
}

div.about, .work, .contact {
	width: 100%;
	padding: 5px;
}

/* Transforming text. */
/* hiding hi. */
.about:hover span {
	display: none;
}

/* displaying About me. */
.about-2:hover:before {
	content:"About me.";
	color: #F9C22E;
	font-size: 60px;
	transition: all 1s;
}

/* hiding I'm Nate. */
.work:hover span {
	display:none
}

/* displaying My Work */
.work-2:hover:before {
	content:"My work.";
	color: #F9C22E;
	font-size: 60px;
	transition: all ease-in-out;
}

/* hiding Let's work together. */
.contact:hover span {
	display:none
}

/* displaying Contact Me. */
.contact-2:hover:before {
	content:"Contact me.";
	color: #F9C22E;
	font-size: 60px;
}

span{
    transform: translateY(50px);
    opacity: 0;
    animation-name: titleanimation;
    animation-timing-function:ease;
    animation-duration: 3s;
	animation-iteration-count: 1;
}

h1 span{
	animation-fill-mode: forwards;
}

.about span{ animation-delay: .5s }
.work span{ animation-delay: 1s }
.contact span{ animation-delay: 1.5s }

@keyframes titleanimation {
	0% {
	  opacity: 0;
	  size: 0px;
	}
	100% {
	  opacity: 1;
	}
}


.mobile-button{
	animation-name: slidein;
    animation-timing-function:ease-in-out;
    animation-duration: 3.5s;
	animation-iteration-count: 1;
}

@keyframes slidein {
	0% {
	transform:translateX(2000px);
	}

	80% {
    transform:translateX(0px);
	}

	85% {
	transform:translateX(20px);
	}

	90% {
    transform:translateX(0px);
	}

	95% {
	transform:translateX(10px);
	}

	100% {
	transform:translateX(0px);
	}
}



.about-2:visited {
	color: #DB504A;
}

.work-2:visited {
	color: #F3E8EE;
}

.contact-2:visited {
	color: #F3E8EE;
}


.mobile-button {
	font-size: 30px;
	color: #0D1F2D;
	background-color: #F9C22E;
	display: block;
    height: 40px;
	width: 200px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
	border-radius: 50px;
}


.nathan{
	position: fixed;
	z-index: -1;
	width: 600px;
	left: 10%;
}

/* about Mobile */


.logo {
	width: 120px;
	padding-left: 50%;
	padding-top: 10%;
}

.container {
padding-bottom: 90px;
}

.about-grid h1 {
	text-decoration: none;
    font-size: 60px;
    font-weight: 900;
	padding-bottom: 20px;
	padding-left: 4%;
}

.about-grid h2 {
	text-decoration: none;
	color: #F9C22E;
    font-size: 50px;
    font-weight: 900;
	padding-bottom: 20px;
	padding-left: 4%;
}

.about-grid p {
	width: 90%;
	font-weight: 200;
	font-size: 16px;
	line-height: 1.5rem;
	padding-left: 5%;
	padding-bottom: 20px;
}

.myresume {
	text-decoration: none;
	color: #DB504A;
    font-size: 20px;
    font-weight: 800;
	padding-left: 4%;
}

/* Work Page - Mobile */

.work-container{
padding-bottom: 90px;
}


.work-container h1 {
	width: 90%;
	text-decoration: none;
    font-size: 60px;
    font-weight: 900;
	padding-top: 50px;
	padding-bottom: 20px;
	padding-left: 4%;
}

.work-container a {
	text-decoration: none;
	color: #F9C22E;
	padding-left: 5%;
}


/* Contact Page - Mobile */

.contact-grid h1 {
	text-decoration: none;
    font-size: 60px;
    font-weight: 900;
	padding-left: 4%;
	width: 90%;
	padding-bottom: 20px;
}

.contact-grid p {
	width: 90%;
	font-weight: 200;
	font-size: 16px;
	line-height: 1.5rem;
	padding-left: 5%;
	padding-bottom: 20px;
}

.socials{
	width: 50px;
	font-weight: 200;
	font-size: 20px;
	line-height: 4rem;
	padding-left: 5%;
}

.socials a{
	color: #DB504A;
	text-decoration: none;
	font-size: 30px;
    font-weight: 600;
}

.socials a:visited{
	color: #DB504A;
}



/* TABLET STYLING */

@media screen and (min-width: 768px) and (max-width: 1024px){

	/* Homepage */

	.container-2 {
		padding-top: 150px;
		padding-left: 200px;
	}

	.nathan {
		width: 600px;
		bottom: 0%;
		left: 50%;
	}

	/* About Page */

	.about-grid h1{
		padding-left: 200px;
	}

	.about-grid h2{
		padding-left: 200px;
	}

	.about-grid p{
		padding-left: 200px;
		width: 500px;
	}

	.about-grid a {
		padding-left: 200px;
	}

	/* Work Page */

	.work-container h1{
		padding-left: 200px;
	}

	.work-container a{
	padding-left: 200px;
	}

	/* Contact Page */

	.contact-grid h1{
		padding-top: 60px;
		padding-left: 200px;
	}

	.contact-grid p{
		width: 500px;
		padding-left: 200px;
	}

	.socials {
		padding-left: 200px;
	}

}

/* DESKTOP STYLING */

@media screen and (min-width: 1024px) {

	/* Home Screen */

	.container-2 span{
		font-size: 60px;
	}

	.container-2 {
		padding-top: 300px;
		padding-left: 30%;
	}

	.nathan {
		width: 950px;
		left: 50%;
	}

	.mobile-button{
		display: none;
	}

	/* About Page */

	.about-grid h1{
		padding-top: 100px;
		padding-left: 200px;
	}

	.about-grid h2{
		padding-left: 200px;
	}

	.about-grid p{
		width: 600px;
		padding-left: 200px;
	}

	.about-grid a {
		padding-left: 200px;
	}

	/* Work Page */
	
	.logo {
		padding-left: 900px;
	}

	.work-container h1{
		padding-left: 200px;
	}

	.work-container a{
	padding-left: 200px;
	}

	/* Contact Page */


	.contact-grid h1{
		padding-top: 60px;
		padding-left: 200px;
	}

	.contact-grid p{
		width: 500px;
		padding-left: 200px;
	}

	.socials {
		padding-left: 200px;
	}

}