/* ---CSS RESET ---*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom CSS */

/* Mobile Styles */

/* Setting page font and background color */
html *{
    font-family: 'Montserrat', sans-serif;
    background-color: #F7F7FF;
}

/* Logo resizing and positioning */
.logo-image {
    width: 114px;
    height: 81px;
    padding-left: 35px;
    padding-top: 25px;
}

/* Landing page welcome text font sizing, colouring and positioning */
.page-title {
    font-size: 60px;
    font-weight: 700;
    color: #333131;
    padding-left: 35px;
    padding-bottom: 10px;
}


#home .start {
    font-size: 24px;
    padding-left: 35px;
}

/* Scooter image positioning */
.scooter-image{
    padding-bottom: 20px;
}

/* Apply now/contact form styling, sizing and positioning */
.contact {
    border-radius: 25px;
    background-color: #FFFFFF;
    padding: 35px;
    width: 70%;
    height: 510px;
    margin: auto;
    margin-bottom: 45px; 
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);
}

/* Hiding desktop specific text */
.desktop-enter {
    display: none;
}

#contact h2, h3 {
    font-size: 40px;
    font-weight: 700;
    color: #333131;
    background-color: #FFFFFF;
    padding-bottom: 15px;
}

#contact p {
    background-color: #FFFFFF;
    font-size: 16px;
    padding-bottom: 10px;
}

div {
    background-color: #FFFFFF;
}

/* Form label styling, sizing and positioning */
#fname, #lname, #email, #pnumber, textarea {
    font-size: 16px;
    border: none;
    width: 83%;
    height: 40px;
    padding: 7.5px;
    border-radius: 18px;
    background: #F4F4F5;
    margin: 10px;
}

#contact #agreebox {
    margin-bottom: 15px;
}

#agreebox {
    margin-left: 15px;
    border-radius: 20px;
}

label {
    background-color: #FFFFFF;
}

/* Drive with us button styling, sizing and positioning */
#contact button {
    width: 95%;
    height: 55px;
    border: none;
    border-radius: 18px;
    background-color: #57EEAB;
    font-size: 24px;
    font-weight: 700;
    color: #333131;
    margin-bottom: 15px;
}

#contact h3 {
    font-size: 16px;
    font-weight: 400;
    color: #333131;
}

/* Marking specific text to Red */
mark.red {
    font-weight: 400;
    color:#FF8480;
    background: none;
}

/* Setting Footer section colour */
#footer-section div {
    background-color: #FFFD8C;
}

#footer-section {
    background-color: #FFFD8C;
}

/* Footer section header text styling, sizing and positioning */
#footer-section h2 {
    width: 265px;
    background-color: #FFFD8C;
    font-size: 18px;
    font-weight: 700;
    color: #333131;
    padding-top: 15px;
    padding-left: 33px;
    padding-bottom: 12px;
}

/* Footer section text styling, sizing and positioning */
#footer-section p { 
    width: 302px;
    background-color: #FFFD8C;
    font-size: 16px;
    color: #333131;
    padding-left: 33px;
    padding-bottom: 10px;
}

/* Hours/city/calculate alignment */
#hours {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Hours input field styling, sizing and positioning */
#hours-box, textarea{
    font-size: 16px;
    font-weight: 600;
    border: none;
    width: 68px;
    height: 40px;
    padding: 10px;
    border-radius: 18px;
    background: #F4F4F5;
}

/* city input field styling, sizing and positioning */
#city-box, textarea {
    font-size: 16px;
    font-weight: 600;
    border: none;
    width: 250px;
    height: 40px;
    padding: 10px;
    border-radius: 18px;
    background: #F4F4F5;
    margin: auto;
}

/* Caculate button styling, sizing and positioning */
#hours button {
    width: 85%;
    height: 55px;
    border: none;
    border-radius: 18px;
    background-color: #FF8480;
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 10px;
}

/* Social links Positioning */
.socials, .facebook-logo, .instagram-logo, .twitter-logo, .linkedin-logo{
    display: flex;
    justify-content: space-around;
    background-color: #FFFD8C;
}

/* Facebook logo edit */
.facebook-logo {
    padding: 10px;
    border-radius: 40px;
}

/* Specific social links positioning */
.instagram-logo, .twitter-logo, .linkedin-logo {
    padding: 10px;
}


/* Tablet Styles */

@media (min-width: 768px) and (max-width: 1024px){
    
    /* Logo positioning */
    .logo-image {
        padding-left: 82px;
    }

    /* Landing page welcome header sizing and positioning */
    .page-title {
        width: 604px;
        padding-left: 82px;
        padding-bottom: 20px;
        font-size: 80px;
    }

    /* Landing page welcome text sizing and positioning*/
    #home .start {
        padding-left: 82px;
        width: 604px;
    }

    /* Scooter image sizing and positioning  */
    .scooter-image {
        display: flex;
        justify-content: center;
        width: 420px;
        height: 307px;
        padding-left: 174px;
    }

    /* Apply now/contact box size adjustments */
    .contact {
        width: 605px;
        height: 596px;
        margin-left: 82px;
    }

    /* Contact Header font resize */
    #contact h3 {
        font-size: 30px;
    }

    /* Apply now/contact box text area & font resize */
    #fname, #lname, #email, #pnumber, textarea {
        font-size: 18px;
        width: 525px;
        height: 55px;
    }

    label {
        font-size: 18px;
    }

    /* Drive with us button and font resize */
    #contact button {
        width: 600px;
        font-size: 32px;
    }

    #contact p {
        font-size: 17px;
        text-align: center;
    }

    /* Footer header text box resizing */
    #footer-section h2 {
        width: 608px;
    }

    /* Footer body text box resizing */
    #footer-section p {
        width: 457px;
    }

    /* Earnings calculator text area resizing */
    #hours-box, textarea {
        padding-bottom: 20px;
        width: 122px;
    }

    #city-box, textarea {
        width: 300px;
    }

    /* Calculator button resizing */
    #hours button {
        width: 270px;
    }

    /* Social links positioning */
    .socials {
        padding-left: 250px;
        padding-right: 250px;
        padding-bottom: 10px;
        justify-content: space-around;
    }
}

/* Destop Styles */

@media (min-width: 1024px) {

    /* Logo positioning */
    .logo-image {
        padding-left: 140px;
        padding-bottom: 5px;
    }

    /* Aligning main page content horizontally */
    #home {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    /* Scooter image resizing and positioning */
    .scooter-image {
        width: 850px;
        height: 600px;
        padding-left: 100px;
        padding-bottom: 21px;
    }

    /* Landing page header text sizing and positioning */
    .page-title {
        font-size: 80px;
        width: 530px;
        position: absolute;
        top: 160px;
        left: 110px;
        background: transparent;
    }

    /* Landing page body text positioning */
    .start {
        width: 520px;
        position: absolute;
        top: 440px;
        left: 110px;
        background: transparent;
    }

    /* Hiding tablet and mobile specific text */
    .tm-enter {
        display: none;
    }

    /* Displaying Desktop specific text */
    .desktop-enter {
        display: flex;
    }

    /* Apply now/contact box sizing and position */
    #contact {
        width: 25%;
        position: absolute;
        right: 100px;
    }

    /* Footer section positioning and sizing*/
    #footer-section {
        padding-left: 140px;
        padding-right: 140px;
        padding-top: 45px;
        padding-bottom: 45px;
    }

    #footer-section h2 {
        width: 375px;
    }

    #footer-section p {
        width: 465px;
    }

    /* Earnings calculator alignment */
    #hours {
        padding-left: 2px;
        display: inline-flex;
        flex-wrap: nowrap;
    }

    /* Earnings calculator sizing and positioning */
    #hours-box, textarea {
        width: 122px;
        margin-left: 25px;
        margin-right: 25px;
    }

    #city-box, textarea {
        width: 300px;
        margin-right: 25px;
    }

    /* Earnings calculator button sizing */
    #hours button {
        width: 270px;
        margin-top: 2px;
    }

    /* Socials alignment and positioning */
    .socials{
        display: flex;
        justify-content: space-evenly;
        margin-right: 600px;
        margin-left: 700px;
        position: relative;
        bottom: 45px;
        left: 600px;
    }
  
    /* Changing facebook and linkedin logo position */
    .facebook-logo{
        border-radius: 0;
        display: flex;
        order: 3;
    }
    .linkedin-logo{
        display: flex;
        order: 4;
    }
}